.messages .client {
  background-color: #dee2e6;
}

.indicator {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
}

.lds-ellipsis {
  position: relative;
  width: 64px;
}

.lds-ellipsis span {
  position: absolute;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.lds-ellipsis span:nth-child(1) {
  left: 6px;
  -webkit-animation: bounce 700ms infinite 0ms;
          animation: bounce 700ms infinite 0ms;
}

.lds-ellipsis span:nth-child(2) {
  left: 26px;
  -webkit-animation: bounce 700ms infinite 200ms;
          animation: bounce 700ms infinite 200ms;
}

.lds-ellipsis span:nth-child(3) {
  left: 45px;
  -webkit-animation: bounce 700ms infinite 400ms;
          animation: bounce 700ms infinite 400ms;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }

  90% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }

  90% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

