@import "~bootstrap/scss/bootstrap";

.messages-container .client {
    background-color: #dee2e6;
}

.chat-window-top-status {
    top: 0;
}

.chat-window-bottom-status {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.indicator {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
}

.lds-ellipsis {
    position: relative;
    width: 64px;

    span {
        position: absolute;
        top: -3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;

        &:nth-child(1) {
            left: 6px;
            -webkit-animation: bounce 700ms infinite 0ms;
            animation: bounce 700ms infinite 0ms;
        }

        &:nth-child(2) {
            left: 26px;
            -webkit-animation: bounce 700ms infinite 200ms;
            animation: bounce 700ms infinite 200ms;
        }

        &:nth-child(3) {
            left: 45px;
            -webkit-animation: bounce 700ms infinite 400ms;
            animation: bounce 700ms infinite 400ms;
        }
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    90% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
